@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #1c2a4a;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-link {
    position: relative;
    padding: 0 12px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
}
.nav-link::after {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -5px;
    width: calc(100% - 24px);
    height: 2px;
    background-color: #fff;
    opacity: 0;
    transition: .5s;
}
.toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: auto;
    cursor: pointer;
    user-select: none;
    z-index: 15;
}
.toggle div {
    width: 80%;
    height: 2px;
    background: #fff;
    margin: 3px 0;
    z-index: 15;
}
.main {
    margin-bottom: auto;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-profile {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 50px 30px 35px;
    border-bottom: 15px solid #d7d1c9;
}

.section {
    width: calc(50% - 20px);
    padding: 10px;
    padding-bottom: 35px;
    border-bottom: 1px solid #25314e;
}
.section-profile-logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(68, 71, 248, 0.6);
    filter: grayscale(0.2) brightness(1.05);
    transition: .3s;
}
.section-profile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    text-transform: uppercase;
}
.main-title {
    position: relative;
    padding: 0;
    margin-bottom: 20px;
    color: #09369b;
    font-size: 32px;
    font-weight: 300;
    letter-spacing: 10px;
    line-height: 50px;
    word-spacing: 3px;
}

.section-title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #335ec1;
}
.section-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-left: 30px;
}
.contacts-item:nth-child(1):before {
    background-image: url(assets/svg/1.svg);
}

.contacts-item:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0px;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}
.section-item a {
    text-decoration: none;
    color: #555e73;
    transition: color 0.5s;
}
.section-item span {
    color: #7191db;
}
code {
    font-family: monospace;
}
.section-education, .section-english {
    border-bottom: 0;
}
.footer {
    background-color: #335ec1;
    padding: 20px;
}
.main-title::after {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 50%;
    margin-left: -70px;
    width: 140px;
    height: 2px;
    background-color: #152a5b;
}
.section-subtitle {
    margin-top: 20px;
    color: #5c5c5c;
    line-height: 50px;
    font-weight: 300;
    letter-spacing: 2px;
}
.section-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
* {
    box-sizing: border-box;
}
.header {
    background-color: #335ec1;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    color: #fff;
}
.github {
    color: #fff;
    text-decoration: none;
    line-height: 45px;
}
.rss {
    width: 121px;
    height: 45px;
    background-image: url(./assets/svg/rss.svg);
    background-size: contain;
    background-repeat: no-repeat;
}
@media (max-width: 768px){
.nav {
    display: none;
}
.toggle {
    display: flex;
}
.nav-list.collapsed {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding-top: 50px;
}
.nav.collapsed {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100vh;
    min-height: 525px;
    flex-direction: column;
    background-color: #bcd8f0;
}
.section-education {
    border-bottom: 1px solid #517ee7;;
}
.section-profile {
    flex-direction: column;
    align-items: center;
}
.section {
    width: 100%;
}
.footer-container {
    flex-direction: column;
    align-items: center;
}
}
@media (max-width: 1440px){
.container {
    padding: 0 20px;
}
}
